<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="cordovarduino"
    version="0.0.10">
    <name>Serial</name>
    <description>Cordova plugin to communicate with the android USB serial port</description>
    <license>MIT</license>
    <keywords>serial,arduino</keywords>

    <!-- js module -->
    <js-module src="www/serial.js" name="Serial">
        <clobbers target="window.serial" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Serial">
                <param name="android-package" value="fr.drangies.cordova.serial.Serial"/>
            </feature>
        </config-file>
        <source-file src="src/android/fr/drangies/cordova/serial/Serial.java" target-dir="src/fr/drangies/cordova/serial" />
        <source-file src="src/android/fr/drangies/cordova/serial/UsbBroadcastReceiver.java" target-dir="src/fr/drangies/cordova/serial" />
        <lib-file src="lib/usbseriallibrary.jar" arch="device" />
    </platform>

    <!-- ubuntu -->
    <platform name="ubuntu">
        <header-file src="src/ubuntu/serial.h" />
        <source-file src="src/ubuntu/serial.cpp" />
    </platform>
</plugin>
